.player-audio
  max-width: 1200px !important
  width: 100% !important

/*
.player-video
  max-width: 1200px !important
    width: 100% !important
 */
    
.mejs-container
  background: none !important

.player-video-extras
  absolute top 0px left 50%
  background-color: orange
  padding: 10px 14px 10px 14px
  border-radius: 0 2px 2px 0
  i
    color: purple
  i:hover
    color: white
    cursor: pointer

.video-hidden
  top: 1000px !important

.player-video-extras.video-hidden
  top: initial !important
  bottom: 0px
