.player-audio
  max-width: 1200px !important
  width: 100% !important

/*
.player-video
  max-width: 1200px !important
    width: 100% !important
 */

.mejs-container
  background: none !important

/*
 * Colors/stylings for controls
 */

.mejs-controls
  background: purple !important

.mejs-time-total
  background: teal !important
  
.mejs-time-loaded
  background: orange !important

.mejs-horizontal-volume-total
  background: teal !important

.mejs-horizontal-volume-current
  background: orange !important

/*
 * Video player extras
 */

.player-video-extras
  absolute top 0px left 50%
  background-color: orange
  padding: 3px 9px 3px 9px
  border-radius: 0 2px 2px 0
  i
    color: purple
  i:hover
    color: white
    cursor: pointer

.mejs-video.video-hidden
  top: 0px
  height: 30px !important

.mejs-media-element.video-hidden,
.mejs-layers.video-hidden
  top: 1000px !important
