
orange = rgb(226, 132, 109)

#container
  max-width: 960px
  margin: 0 auto

.home-logo
  display: block
  position: relative 
  width: 200px
  height: 200px
  margin: 100px auto 40px auto
  background: orange
  background-size: 110px 110px
  border-radius: 50%

.home-logo img
  position: relative
  left: 60px
  top: 40px 
  width: 80px

.header-logo
  display: block
  position: relative 
  width: 100px
  height: 100px
  margin: 0
  background: orange
  background-size: 40px 40px
  border-radius: 50%

.header-logo img
  position: relative
  left: 25px
  top: 15px 
  width: 50px

#login-buttons
  float: right
  position: relative
  top: -45px

/*
 * Errors notifications
 */

#notify
  display: none
  position: absolute
  right: 0px
  bottom: 0px
  background-color: red
  color: white
