@import 'nib'

orange = rgb(226, 132, 109)
teal   = rgb(58, 128, 130)
purple = rgb(42, 8, 61)
white  = rgb(242, 242, 242)
red    = rgb(237, 91, 71)

*, *:before, *:after
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

html,
body
  height: 100%
  overflow-x: hidden
  margin: 0

body
  overflow-y: scroll

#container
  position: relative
  max-width: 960px
  margin: 20px auto 0 auto

.main
  position: relative

.left
  float: left
  width: 200px
  overflow-x: hidden
  overflow-y: hidden

.right
  margin-left: 220px

.home-logo
  display: block
  position: relative 
  width: 200px
  height: 200px
  margin: 100px auto 40px auto
  background: orange
  border-radius: 50%

.home-logo img
  position: relative
  left: 60px
  top: 40px 
  width: 80px

.header-logo
  display: block
  position: relative 
  width: 70px
  height: 70px
  margin: 0
  background: orange
  border-radius: 50%

.header-logo img
  position: relative
  left: 18px
  top: 12px 
  width: 32px

#login-buttons
  float: right
  position: relative
  top: -45px

#update
  display: inline-block
  padding: 14px 20px 14px 20px
  background-color: orange
  border-radius: 2px

/*
 * Feeds
 */

.feeds
  white-space: nowrap

.feeds li
  position: relative
  width: 200px
  margin-bottom: 1rem

.feed-view
  width: 180px
  overflow: hidden
  display: block
  text-overflow: ellipsis

.feed-destroy 
  absolute: top 0px right 0px
  opacity: 0.2
  transition-property: opacity
  transition-duration: 0.2s

.feed:hover .feed-destroy
  opacity: 1  

/*
 * Items
 */

#items
  float: left
  width: 75%
  list-style-type: none

.item
  position: relative
  margin: 40px 0 40px 0
  &:first-of-type
    margin: 0px 0 40px 0
  
.item .meta
  display: block
  opacity: 0.2
  transition-property: opacity
  transition-duration: 0.2s
  
.item:hover .meta
  opacity: 1

.playlist
  float: right
  width: 25%

/*
 * Errors notifications
 */

.notify
  opacity: 0
  position: absolute
  top: 60px
  left: 50%
  margin-left: -250px
  width: 500px
  background-color: red
  color: white
  padding: 20px
  border-radius: 2px
  transition-property: opacity, top
  transition-duration: 0.4s
  &:hover
    cursor: pointer

.error-show
  opacity: 1
  top: 140px

/*
 * Player
 */

#player
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%
  background: black 

.player-audio
  margin: 0 auto
