
orange = rgb(226, 132, 109)

html,
body
  overflow: hidden

#container
  position: relative
  max-width: 960px
  margin: 0 auto

.main
  position: relative

.left
  float: left
  width: 200px
  overflow-x: hidden
  overflow-y: hidden

.right
  margin-left: 220px

.home-logo
  display: block
  position: relative 
  width: 200px
  height: 200px
  margin: 100px auto 40px auto
  background: orange
  border-radius: 50%

.home-logo img
  position: relative
  left: 60px
  top: 40px 
  width: 80px

.header-logo
  display: block
  position: relative 
  width: 70px
  height: 70px
  margin: 0
  background: orange
  border-radius: 50%

.header-logo img
  position: relative
  left: 18px
  top: 12px 
  width: 32px

#login-buttons
  float: right
  position: relative
  top: -45px

/*
 * Errors notifications
 */

#notify
  position: absolute
  right: 0px
  bottom: 30px
  background-color: red
  color: white

#notify.error-false
  right: -2000px

#notify.error-true
  right: 0px

/*
 * Player
 */

#player
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%
  background: black 

.player-audio
  margin: 0 auto
