@import 'nib'
@import '_mixins'

orange = rgb(226, 132, 109)
teal   = rgb(58, 128, 130)
purple = rgb(42, 8, 61)
white  = rgb(242, 242, 242)

body
  font-size: 100%;

h1,
p,
div,
li,
a,
button,
input
  font-family: 'Lato'

p
  font-size(1rem)
  margin: 0 0 0.8rem 0
  &:last-of-type
    margin: 0

a
  color: purple
  text-decoration: none
  transition-property: color
  transition-duration: 0.2s
  &:hover
    color: orange

h1
  font-size 1.6rem
  margin: 0px

ul
  list-style-type: none
  margin: 0
  padding: 0

.playing h1
  font-size(1.125rem)
  font-weight: 400
  
.playing ul li
  font-size(0.875rem)
  font-weight: 700

button,
input
  font-size(1rem)
